<section id="main-section" class="bg-primary mx-auto p-2">
  <div id="outer-banner">
    <div id="inner-banner" class="text-center pt-1">
      <strong id="banner-title"></strong>
      <p id="banner-words" class="px-2"></p>
    </div>
  </div>

  <h1 class="text-center">Random Math Quizzes</h1>

  {{#if game}}
    {{> game}}
  {{else}}
    {{> home}}
  {{/if}}
</section>
