* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

#score, #time, #question, .dom-edge {
  font-family: monospace;
}

.upper-div {
  background-color: #c32a6f;
  border-radius: 5px;
}

#main-section, #inner-banner {
  box-shadow: 0 0 25px #f8f8f8;
  border-radius: 15px;
}

#outer-banner, #inner-banner {
  width: 100%;
}

#main-section {
  position: relative;
  margin-top: 20vh;
}

#outer-banner {
  position: absolute;
  height: 130px;
  left: -.15px;
  z-index: -1;
  padding: 0 30px;
  top: 20px;
  transition: top .5s;
}

#inner-banner {
  background-color: #c32a6f;
  height: 100%;
}

#inner-banner, .add-fx {
  color: #fff07e;
}

@keyframes slide-left {
  0% { 
    margin-left: 30px; 
    opacity: 1;
  }
  75% { margin-left: 0; }
  100% { opacity: 0; }
}

.slide-left {
  color: #fff07e;
  position: absolute;
  animation: slide-left;
  opacity: 0;
  animation-duration: 1.5s;
  animation-iteration-count: 1
}

#banner-title {
  font-size: 2rem;
}

#banner-words {
  font-weight: 500;
}

@media (min-width: 576px) {
  #main-section {
    max-width: 500px;
  }
}